<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IMSS"
        tools:targetApi="31">
        <activity
            android:name=".CcAgregaVacuna"
            android:exported="false" />
        <activity
            android:name=".CcGeneracionCita"
            android:exported="false" />
        <activity
            android:name=".CcCambioClinica"
            android:exported="false" />
        <activity
            android:name=".CcReceta"
            android:exported="false" />
        <activity
            android:name=".CcEsquemaVacuna"
            android:exported="false" />
        <activity
            android:name=".CcHistorialClinico"
            android:exported="false" />
        <activity
            android:name=".CcGlosario"
            android:exported="false" />
        <activity
            android:name=".CcCerrarSesion"
            android:exported="false" />
        <activity
            android:name=".CcContactoImss"
            android:exported="false" />
        <activity
            android:name=".CcAplicacion"
            android:exported="false" />
        <activity
            android:name=".CcEditarDatos"
            android:exported="false" />
        <activity
            android:name=".CcDatosUsuario"
            android:exported="false" />
        <activity
            android:name=".CcMenu"
            android:exported="false" />
        <activity
            android:name=".CcCuenta"
            android:exported="false" />
        <activity
            android:name=".MainActivity3"
            android:exported="false" />
        <activity
            android:name=".NcGlosario"
            android:exported="false" />
        <activity
            android:name=".NcContactoImss"
            android:exported="false" />
        <activity
            android:name=".NcMenu"
            android:exported="false" />
        <activity
            android:name=".NcCuenta"
            android:exported="false" />
        <activity
            android:name=".ConfirmaRegistro"
            android:exported="false" />
        <activity
            android:name=".InicioSesion"
            android:exported="false" />
        <activity
            android:name=".RegistroUsuario"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>